<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th>Received Messages</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @messages.each do |message| %>
      <% if current_user == message.sender_id  %>
      <tr>
        <td><%= message.content %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <% end %>
     <% end %>
  
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Sent Messages</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @messages.each do |message| %>
      <% if current_user != message.receiver_id  %>
      <tr>
        <td><%= message.content %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <% end %>
     <% end %>

  </tbody>
</table>

<br>

