<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<h3>Inbox</h3>
 <ul>
   <% current_user.received_messages.each do |message| %>
     <li class = "content"><%= message.content %></li>
     <li><strong>From: </strong><%= message.sender.username %></li>
     <li><a href= '/users/<%= message.sender.id %>'><strong>Reply</strong></a></li>
   <% end %>
 </ul>


<h3> Sent Items</h3>
 <ul>
   <% current_user.sent_messages.each do |message| %>
     <li class="content"><%= message.content %></li>
     <li><%= message.receiver.username %></li> 
   <% end %>
 </ul>





