<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @language.language %>
</p>

<p>
  <strong>User:</strong>
  <%= @language.user_id %>
</p>

<!--  show the array of those interested-->
<% @language.interest_from.each do |user| %>
  <ul>
    <li><a href= '/users/<%= user.id %>'><%= user.username    %></a></li> 
  </ul>
<% end %>


<% unless @language.interest_from.exists?(current_user) %> |
<%= link_to 'Interested', interested_path(@language) %> |
<% else %>
<%= link_to 'Remove interest', removed_interest_path(@language) %> |
<% end %>

<%= link_to 'Like', interested_path(@language) %> |
<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
