<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


        <p >
          <strong>User:</strong>
          <%= @user.username %>
        </p>

        <p>
          <strong>Profile Picture:</strong>
          <%= @user.profile_picture %>
        </p>

       <p>
          <b>Image:</b>
          <%= @user.graffiti_image %>
        </p>
        <p>
          <strong>About:</strong>
          <%= @user.bio %>
        </p>

        <p>
          <strong>Language Spoken:</strong>
          <%= @user.language_spoken %>
        </p>

        <p>
          <strong>Contact:</strong>
          <%= @user.email %>
        </p>

        <ul>
          <% @user.languages.each do |lang| %>
            <li><%= lang.language %></li>
          <% end %>
        </ul>

        <ul>
          <% @user.learning.each do |learn| %>
            <li><%= learn.language %></li>
          <% end %>
        </ul>



<% unless current_user == User.find(params[:id]) %>
  <%= render 'messages/form' %>
<% end %>


