
<div class= "container">
<h2> Learn a new language with new friends</h2>

    <% if current_user == nil %>
        <button type="button" class="btn btn-primary btn-lg"><%= link_to "Register", new_user_registration_path %></button>
    <% else%>

      <h2>People who could teach you</h2>    
      <% @teachers.each do |user| %>
        <div>
        <ul c>
              <h3><a href= '/users/<%= user.id %>'><%= user.username %></a></h3>
              <h5>Speaks:</h5>
              <span>
                <% user.languages.each do |language| %>
                  <%= language.language %>,
                <% end %>
              </span>
            </div>
          <% end %>
        </ul> 
      <h2>People who could learn from you</h2>
      <% @learners.each do |user| %>
        <div>
          <h3><a href= '/users/<%= user.id %>'><%= user.username %></a></h3>
          <h5>Speaks:</h5>
          <span>
            <% user.languages.each do |language| %>
              <%= language.language %>,
            <% end %>
          </span>
        </div>
      <% end %>
  
    <% end %>

  </div>