
<div class="big-background">

<h1 class="logo">BABEL</h1>


<% if current_user == nil %>

<h2 class = "homepage-subtitle"> Learn a new language with new friends</h2>

<%= link_to "Register", new_user_registration_path, class: "btn btn-primary btn-lg custom" %>

<div class="user">
 <h3 class= "initial-blurb">The new way to connect with those who want to learn or share a langauge. Register now to be matched with like-minded people with a passion for language. </h3>
</div>


<% else%>

<h2 class="instruction"> Click on someone you would like to connect with to teach you a language. </h2>

<div class= "row no-gutter">
  <% @teachers.each do |user| %>
  <div class="col-sm-12 col-md-4 person" style="background-image: url('/uploads/user/graffiti_image/14/8bit_tv.jpg')">

    <div class="info">
      <div class="vertical-center">
        <h3><a href= '/users/<%= user.id %>'><%= user.username %></a></h3>

        <span>
          <% user.languages.each do |language| %>
          <%= language.language %> 
          <% end %>
        </span>
      </div>
    </div>
  </div>
  <% end %>
</div>

<h2 class="instruction"> Click on someone you would like to connect with to teach you a language. </h2>  
<div class= "row no-gutter">
  <% @learners.each do |user| %>
  <div class="col-sm-12 col-md-4 person" style="background-image: url('/uploads/user/graffiti_image/14/8bit_tv.jpg')">     
    <div class="info">
      <div class="vertical-center">
        <h3><a href= '/users/<%= user.id %>'><%= user.username %></a></h3>
        <h5>Speaks:</h5>
        <span>
          <% user.languages.each do |language| %>
          <%= language.language %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
  <% end %> 
</div>  
<% end %>

</div>